<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        >
      </div>

      <div>
        <app-button
          type="submit"
          styleClass="btn btn-primary"
          [disable]="!authForm.valid"
        >
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </app-button>
        <app-button
          type="button"
          styleClass="btn btn-primary"
          [disable]="!authForm.valid"
          (clicked)="onSwitchMode()"
        >
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </app-button>
      </div>
    </form>
  </div>
</div>
