<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="shoppingForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            formControlName="amount"
            [pattern]="'^[1-9]+[0-9]*$'"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-button
            type="submit"
            styleClass="btn btn-success"
            [disable]="!shoppingForm.valid"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </app-button>
          <app-button
            type="button"
            styleClass="btn btn-danger"
            (clicked)="onRemove()"
            [disable]="!editMode"
          >
            Delete
          </app-button>
          <app-button
            type="button"
            styleClass="btn btn-prymary"
            (clicked)="onClearForm()"
          >
            Clear
          </app-button>
        </div>
      </div>
    </form>
  </div>
</div>
