<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="shoppingForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <app-form-input
            id="name"
            label="Name"
            [controlledBy]="shoppingForm"
            controlName="name"
          >
          </app-form-input>
        </div>
        <div class="col-sm-2 form-group">
          <app-form-input
            id="amount"
            type="number"
            label="Amount"
            [controlledBy]="shoppingForm"
            controlName="amount"
          >
          </app-form-input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-button
            type="submit"
            styleClass="btn btn-success"
            [disable]="!shoppingForm.valid"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </app-button>
          <app-button
            type="button"
            styleClass="btn btn-danger"
            (clicked)="onRemove()"
            [disable]="!editMode"
          >
            Delete
          </app-button>
          <app-button
            type="button"
            styleClass="btn btn-prymary"
            (clicked)="onClearForm()"
          >
            Clear
          </app-button>
        </div>
      </div>
    </form>
  </div>
</div>
